<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="../style/index.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    >

</head>
<body>
    <header>
        <div class="title">
            <img src="../assets/images/herta-icon.png"/>
            <p><a href="#hero">Herta</a></p>
        </div>

        <div class="navigation">
            <p><a href="#biodata">Biodata</a></p>
            <p><a href="#lightcone">Lightcone</a></p>
            <p><a href="#eidolon">Eidolons</a></p>
            <p><a href="#relic">Relic</a></p>
            <p><a href="#team-setup">Team Setup</a></p>
        </div>
    </header>

    <main>
        <div class="hero-component" id="hero">
            <aside class="img-hero">
                <img src="../assets/images/Character_Herta_Splash_Art.png" height="100%" width="100%"/>
            </aside>

            <article class="data-hero">
                <h2>Herta</h2>
                <p>
                    Member #83 of the Genius Society, she is the master of the eponymous Herta Space Station, where she appears in the form of a puppet she modeled after her younger self. She collaborated with Screwllum, Ruan Mei, and Stephen Lloyd to create the Simulated Universe, in order to research the mysterious nature of Aeons. She is also an Emanator of Nous the Erudition.
                </p>
            </article>
        </div>

        <div class="biodata-component" id="biodata">
            <div class="data-profile">
                <h3>Profile</h3>
                <div class="list-data">
                    <div class="list-data-profile">
                        <div class="list-1">
                            <p>Rarity</p>
                            <p>Path</p>
                            <p>Element</p>
                            <p>Faction</p>
                        </div>

                        <div class="list-2">
                            <div class="rarity">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="path">
                                <img src="../assets/images/Path_Erudition.png" height="25" width="25"/>
                                <p>The Erudition</p>
                            </div>
                            <div class="element">
                                <img src="../assets/images/Type_Ice.png" height="25" width="25"/>
                                <p>Ice</p>
                            </div>
                            <p>Herta Space Station</p>
                        </div>
                    </div>
                    <div class="list-data-profile">
                        <div class="list-1-2">
                            <p>English VA</p>
                            <p>Japanese VA</p>
                            <p>Chinese VA</p>
                            <p>Korean VA</p>
                        </div>

                        <div class="list-2-2">
                            <p>PJ Mattson</p>
                            <p>Yamazaki Haruka (山崎はるか)</p>
                            <p>Hou Xiaofei (侯小菲)</p>
                            <p>Kim Seoyeong (김서영)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lightcone-component" id="lightcone">
            <aside class="img-lightcone">
                <img src="../assets/images/herta-lc.jpg" width="85%"/>
            </aside>

            <article class="data-lightcone">
                <h3>The Birth of the Self</h3>
                <h4>Follow-up Attack</h4>
                <div class="stats-lightcone">
                    <h4>Lv 1 Stats</h4>
                    <div class="stats-lv">
                        <div class="stats-value">
                            <p>HP</p>
                            <p>43</p>
                        </div>

                        <div class="stats-value">
                            <p>Base ATK</p>
                            <p>21</p>
                        </div>

                        <div class="stats-value">
                            <p>Base DEF</p>
                            <p>15</p>
                        </div>
                    </div>

                    <h4>Lv 80 Stats</h4>
                    <div class="stats-lv">
                        <div class="stats-value">
                            <p>HP</p>
                            <p>952</p>
                        </div>

                        <div class="stats-value">
                            <p>Base ATK</p>
                            <p>476</p>
                        </div>

                        <div class="stats-value">
                            <p>Base DEF</p>
                            <p>330</p>
                        </div>
                    </div>

                </div>
                <p>Increases DMG dealt by the wearer's follow-up attacks by 24%/30%/36%/42%/48%. If the current HP of the target enemy is below 50% of their Max HP, increases DMG dealt by follow-up attacks by an extra 24%/30%/36%/42%/48%.</p>
                <p>In the beginning, it had the exact same pose as the previous portrait. Looking at the face identical to hers, she was convinced that this was not her. "Impossible. How can two portraits be exactly the same?" She tweaked its joints, opened its eyes, and made its fingers softer. She looked happy when all the changes were done. "Completely different from yesterday. This is more like who I am today."</p>
            </article>
        </div>

        <div class="eidolon-component" id="eidolon">
            <h3>Eidolons</h3>
            <div class="eidolons">
                <img src="../assets/images/e-1.png" width="7%"/>
                <div class="eidolons-desc">
                    <h4>Kick You When You're Down</h4>
                    <p>If the enemy's HP is at 50% of their Max HP or less, Herta's Basic ATK deals additional Ice DMG equal to 40% of Herta's ATK.</p>
                </div>
            </div>

            <div class="eidolons">
                <img src="../assets/images/e-2.png" width="7%"/>
                <div class="eidolons-desc">
                    <h4>Keep the Ball Rolling</h4>
                    <p>Every time Talent is triggered, this character's CRIT Rate increases by 3%. This effect can stack up to 5 time(s).</p>
                </div>
            </div>

            <div class="eidolons">
                <img src="../assets/images/e-3.png" width="7%"/>
                <div class="eidolons-desc">
                    <h4>That's the Kind of Girl I Am</h4>
                    <p>Skill Lv. +2, up to a maximum of Lv. 15. Basic ATK Lv. +1, up to a maximum of Lv. 10.</p>
                </div>
            </div>

            <div class="eidolons">
                <img src="../assets/images/e-4.png" width="7%"/>
                <div class="eidolons-desc">
                    <h4>Hit Where It Hurts</h4>
                    <p>When Talent is triggered, DMG increases by 10%</p>
                </div>
            </div>

            <div class="eidolons">
                <img src="../assets/images/e-5.png" width="7%"/>
                <div class="eidolons-desc">
                    <h4>Cuss Big or Cuss Nothing</h4>
                    <p>Ultimate Lv. +2, up to a maximum of Lv. 15. Talent Lv. +2, up to a maximum of Lv. 15.</p>
                </div>
            </div>

            <div class="eidolons">
                <img src="../assets/images/e-6.png" width="7%"/>
                <div class="eidolons-desc">
                    <h4>No One Can Betray Me</h4>
                    <p>After using Ultimate, this character's ATK increases by 25% for 1 turn(s).</p>
                </div>
            </div>
        </div>

        <div class="relic-component" id="relic">
            <h3>Recommended Relics</h3>

            <div class="list-set">
                <div class="set-relic">
                    <h4>Follow-up Build</h4>
                    <div class="relics">
                        <img src="../assets/images/Relics_The_Ashblazing_Grand_Duke.png"/>
                        <p>2pcs The Ashblazing Grand Duke</p>
                    </div>
                    <div class="relics">
                        <img src="../assets/images/Relics_Hunter_of_Glacial_Forest.png"/>
                        <p>2pcs Hunter of Glacial Forest</p>
                    </div>
                    <div class="relics">
                        <img src="../assets/images/Relics_Inert_Salsotto.png"/>
                        <p>2pcs Inert Salsotto</p>
                    </div>
                </div>

                <div class="set-relic">
                    <h4>Support Build</h4>
                    <div class="relics">
                        <img src="../assets/images/Relics_Musketeer_of_Wild_Wheat.png"/>
                        <p>2pcs Musketeer of Wild Wheat</p>
                    </div>
                    <div class="relics">
                        <img src="../assets/images/Relics_Hunter_of_Glacial_Forest.png"/>
                        <p>2pcs Hunter of Glacial Forest</p>
                    </div>
                    <div class="relics">
                        <img src="../assets/images/Relics_Space_Sealing_Station.png"/>
                        <p>2pcs Space Sealing Station</p>
                    </div>
                </div>

                <div class="set-relic">
                    <h4>DPS Build</h4>
                    <div class="relics">
                        <img src="../assets/images/Relics_Hunter_of_Glacial_Forest.png"/>
                        <p>4pcs Hunter of Glacial Forest</p>
                    </div>
                    <div class="relics">
                        <img src="../assets/images/Relics_Inert_Salsotto.png"/>
                        <p>2pcs Inert Salsotto</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-setup-component" id="team-setup">
            <h3>Team Setup</h3>
            <div class="list-team">
                <div class="data-team">
                    <div class="team">
                        <img src="../assets/images/herta-icon.png" width="110px"/>
                        <p>Herta</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/Himeko_chibi.png" width="110px"/>
                        <p>Himeko</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/ruanmei_chibi.png" width="110px"/>
                        <p>Ruanmei</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/luocha_chibi.png" width="110px"/>
                        <p>Luocha</p>
                    </div>
                </div>

                <div class="data-team">
                    <div class="team">
                        <img src="../assets/images/herta-icon.png" width="110px"/>
                        <p>Herta</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/jingyuan_chibi.png" width="110px"/>
                        <p>Jingyuan</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/asta_chibi.png" width="110px"/>
                        <p>Asta</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/Gepard_chibi.png" width="110px"/>
                        <p>Gepard</p>
                    </div>
                </div>

                <div class="data-team">
                    <div class="team">
                        <img src="../assets/images/herta-icon.png" width="110px"/>
                        <p>Herta</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/caelus_chibi.png" width="110px"/>
                        <p>Caelus</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/march7th_chibi.png" width="110px"/>
                        <p>March 7th</p>
                    </div>

                    <div class="team">
                        <img src="../assets/images/natasha_chibi.png" width="110px"/>
                        <p>Natasha</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <p>Website Herta &copy; 2024, Inas Tsabitah D</p>
        </div>
    </footer>
</body>
</html>